# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript/JavaScript
[*.{ts,js}]
quote_type = single

# Angular Templates
[*.{html,htm}]
indent_size = 2

# Markdown
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# JSON
[*.json]
indent_size = 2

# CSS/SCSS
[*.{css,scss}]
indent_size = 2