<label class="checkbox-container" [class.disabled]="disabled">
    <input 
      type="checkbox"
      class="sr-only"
      [checked]="checked"
      [attr.indeterminate]="indeterminate ? 'true' : null"
      [disabled]="disabled"
      (change)="toggle($event)"
    >
    
    <span class="custom-checkbox"
          [class.checked]="checked"
          [class.indeterminate]="indeterminate"
          [class.disabled]="disabled">
      <svg *ngIf="checked && !indeterminate" class="check-icon" viewBox="0 0 24 24">
        <path fill="#fff" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
      </svg>
      <svg *ngIf="indeterminate" class="minus-icon" viewBox="0 0 24 24">
        <path fill="#fff" d="M19 13H5v-2h14v2z"/>
      </svg>
    </span>
    
    <span *ngIf="label" class="checkbox-label">{{label}}</span>
  </label>